*{
    margin:0 auto;
    padding:0;
}
/* .container{
    margin: 0 auto;
} */
.nav{
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23.5px 20px;
}
.nav-center ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
a{
    text-decoration: none;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #575757;
}
.nav-right button{
    padding: 12px;
    background-color: #1D4ED8;
    color: #fff;
    border: none;
    border-radius: 10px;
}