*{
    margin:0 auto;
    padding:0;
}
/* .container{
    margin: 0 auto;
} */
.container{
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23.5px 20px;
}
.nav-center ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
a{
    text-decoration: none;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #575757;
}
.btn{
    width: 180px;
    height: 48px;
    padding: 12px;
    background-color: #1D4ED8;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}
header{
    background-image: linear-gradient(180deg, rgba(0,0,0,0.6), rgba(0,0,0,0)), linear-gradient(90deg, rgba(0,0,0,0.3), rgba(255,255,255,0)),url("./assets/banner.jpg");;
    background-size: cover;
    background-position: center;
    height: 786px;
}
header .container{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

h1{
    font-family: 'inter', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
    letter-spacing: -3.2px;
}
header .container p{
    font-family: 'inter', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin-top: 20px;
    max-width: 770px;
    text-align: center;
}
header .container button{
    margin-top: 30px;
}
.speakers h2{
    font-family: 'inter', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 64.4px;
    color: #000102;
    text-align:center;
    padding-bottom: 56px;
}
.speakers{
    padding: 80px 60px;
    max-width: 1320px;
}
.speakers-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 33px;
}
.speakers-card{
    border: 1px solid #E5E7EB;
    border-radius: 12px;
}
.speaker-info{
    padding: 24px;
}

h6{
    font-family: 'inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #2563EB;
}
h3{
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.5px;
    color: #0D1B2A;
}
.speakers-container .speakers-card .speaker-info p{
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #575757;
}
.pricing-container h2{
    font-family: 'inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #000102;
    text-align:center;
    padding-bottom: 12px;
}
.pricing-container p{
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #575757;
    text-align:center;
    padding-bottom: 48px;
}
.pricing-container{
    padding-top: 48px;
    max-width: 1320px;
}
.pricing-card1{
    padding: 32px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
}
.pricing-card1 h5{
    font-family: 'inter', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    color: #888888;
}
.pricing-card1 h4{
    font-family: 'inter', sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 44px;
    color: #0D1B2A;
}
.pricing-card1 p{
    font-family: 'inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: #888888;
    text-align: left;
}
.pricing-card1 li{
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
}
.pricing-card1 ul li::marker {
    color: #2563EB;
}
.pricing-card1 button{
    margin-top: 24px;
    width: 304px;
    height: 45px;
    padding: 11px 0;
    background-color: #fff;
    color: #1D4ED8;
    border: 1px solid #1D4ED8;
    border-radius: 8px;
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    align-self: stretch;
    cursor: pointer;
}
.btn-parent{
    display: flex;
    justify-content: stretch;
}
.pricing-card-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.pricing-card2{
    background-color: #0D1B2A;
    border: 1px solid #0D1B2A;
}
.pricing-card2 h5{
    color: #93C5FD;
}
.pricing-card2 h4{
    color: #fff;
}
.pricing-card2 p{
    color: #FFFFFF80;
}
.pricing-card2 li{
    color: #FFFFFFCC;
}
.pricing-card2 ul li::marker {
    color: #2563EB;
}
.pricing-card2 button{
    background-color: #1D4ED8;
    color: #fff;
    border: 1px solid #1D4ED8;
}
.pricing-card3{
    background-color: #F8F9FB;
}
.pricing-card3 button{
    color: #0D1B2A;
    border: 1px solid #0D1B2A;
}
.call-to-action{
    background-color: #1D4ED8;
    color: #fff;
    padding: 80px 60px;
    text-align: center;
}
.call-to-action{
    margin-top: 80px;
    max-width: 1320px;
    align-items: center;
    border-radius: 12px;
}
.call-to-action .box{
    background-color: #1D4ED8;
    padding: 40px;
}
.call-to-action .box h2{
    
    font-family: 'inter', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 64.4px;
    color: #fff;
    text-align:center;
}
.call-to-action .box p{
    font-family: 'inter', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    margin-top: 20px;
    max-width: 770px;
    text-align: center;
}
.dual-btn{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 20px;
}
.call-to-action .box button{
    margin-top: 30px;
    width: 180px;
    height: 48px;
    padding: 12px;
    background-color: #00008B;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}
footer{
    margin-top: 80px;
    background-color: #0D1B2A;
    padding: 60px 56px 60px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p{
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    color: #fff;
    text-align: center;
}
.footer-links ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
